.navbar {
    position: fixed;
    top: 0;
    width: 100vw;
}

.main-header {
    background-image: url('images/gluten-free-diet.jpg');
    height: auto;
    width: 100vw;
}

.format-text {
    background-color: beige;
}