@import url('https://fonts.googleapis.com/css2?family=Allerta+Stencil&display=swap'); /*navbar*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:weight@100;200;300;400;500;600;700;800&display=swap");/*search*/
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"); /*RECIPES*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');
@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville:400,700');
/*
NAVBAR
 */

.navbar-nav>li>a{

    text-transform: uppercase;
    font-size: 12px;
    margin-right:20px;
    color: #000;
}



.navbar-toggler {
    padding: .20rem .50rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid white;

}


.nav-link{

    color: #000 !important;
}


.wrapper{
    width: 100%;
    position: absolute;
    height: 100%;
    background-color: #000;
    clip-path: polygon(81% 0, 100% 0, 100% 50%, 100% 100%, 71% 100%);
    transition: 1s all;
}

.navbar-brand{
    color:#000;
    font-family: 'Allerta Stencil', sans-serif;
    margin-bottom: 4px;
    font-size: 27px;
}


.navbar-red:hover .wrapper{
    clip-path: polygon(81% 0, 100% 0, 100% 50%, 100% 100%, 65% 100%);
}


.navbar-brand:hover{
    color:#000;
}

.navbar-red{
    background-color: #ffdead;
    color: #000;
}

.all-show{

    z-index: 10;
}



/*
SEARCH
 */


.height{
    height: 50vh;
}


.search{
    position: relative;
    box-shadow: 0 0 40px rgba(51, 51, 51, .1);
}

.search input{
    height: 60px;
    text-indent: 25px;
    border: 2px solid black;
}


.search input:focus{
    box-shadow: none;
    border: 2px solid black;
}

.search .fa-search{
    position: absolute;
    top: 20px;
    left: 16px;
}

.search button {
    position: absolute;
    top: 5px;
    right: 5px;
    height: 50px;
    width: 110px;
    background: #ffdead;
}


/*
RECIPES
 */
/*
body{
    font-family: 'Open Sans', sans-serif;
}
*/

*:hover{
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
section{
    float:left;
    width:100%;
    background: #fff;
    padding:30px 0;
}
h1{float:left; width:100%; color:#232323; margin-bottom:30px; font-size: 14px;}
h1 span{font-family: 'Libre Baskerville', serif; display:block; font-size:45px; text-transform:none; margin-bottom:20px; margin-top:30px; font-weight:700}
h1 a{color:#131313; font-weight:bold;}

.profile-card-5{
    margin-top:20px;
}
.profile-card-5 .btn{
    border-radius:2px;
    text-transform:uppercase;
    font-size:12px;
    padding:7px 20px;
}
.profile-card-5 .card-img-block {
    width: 91%;
    margin: 0 auto;
    position: relative;
    top: -20px;

}
.profile-card-5 .card-img-block img:hover{
    border-radius:5px;
    box-shadow:0 0 10px rgba(0,0,0,0.63);
}
.profile-card-5 h5{
    color:#4E5E30;
    font-weight:600;
}
.profile-card-5 p{
    font-size:14px;
    font-weight:300;
}
.profile-card-5 .btn-primary{
    background-color:#4E5E30;
    border-color:#4E5E30;
}



/*my rules*/

.nav {
    position: fixed !important;
    text-align: center;
    top:0;
    left:0;
    width:100vw;
    height:15vh;
    z-index: 1000;
    font-family: 'Allerta Stencil', sans-serif;
}

.a-login {
    color: white;

}

.a-login:hover {
    color:#ffdead;
}


